.contactHeader{
    padding: 2%;
}
.hrContactHead{
    border-top: 5px solid #8c8b8b; 
    margin:0%;
   
}

.contactNameboxes{ 
    max-width: 75%;
}
.contactEmailboxes{ 
    max-width: 37%;
}
.contactTextarea{ 
    max-width: 87%;
}
.contactContent{
    text-align: center;
}
.contactButton{
    text-align: center;
    
    padding-top: 0%;
    margin: auto,0,auto,0;
}
.contactError{
    color: red;
    margin:0%;
}
.contactSuccess{
    color: green;
    padding:0%;
}
.message{
    text-align: center;
    font-size: 12pt;
    height:20px;
    margin: auto,0,auto,0;
}